.hero-title {
    font-size: 40px;
}

.hero-block-content {
    flex-direction: row;
}


.hero-block-icon-container {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 4px;

}

.hero-block-icon {
    width: 28px;
    height: 28px;
}

.why-section{
    background-color: var(--color-black);
}

.why-container{
    padding: 40px 120px;
}