
/* Импорт всех частей */
@import 'base/variables.css';
@import 'layout/header.css';
@import 'utilities/positions.css';
@import 'components/buttons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background: var(--color-white);
    line-height: 1.6;
}

.main {
    display: flex;
    padding: var(--header-height) 40px;
}

a {
    text-decoration: none;
}

