.br-0 {
    border-radius: 0;
}

.br-2 {
    border-radius: 2px;
}

.br-4 {
    border-radius: 4px;
}

.br-6 {
    border-radius: 6px;
}

.br-8 {
    border-radius: 8px;
}

.br-10 {
    border-radius: 10px;
}

.br-12 {
    border-radius: 12px;
}

.br-14 {
    border-radius: 14px;
}

.br-16 {
    border-radius: 16px;
}

.br-18 {
    border-radius: 18px;
}

.br-20 {
    border-radius: 20px;
}

.br-22 {
    border-radius: 22px;
}

.br-24 {
    border-radius: 24px;
}

.br-26 {
    border-radius: 26px;
}

.br-28 {
    border-radius: 28px;
}

.br-30 {
    border-radius: 30px;
}

.bw-1 {
    border-width: 1px;
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.bw-4 {
    border-width: 4px;
}


.border-text {
    border-color: var(--color-text);
}

.b-solid{
    border-style: solid;
}