/* Padding 0 */
.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* Padding 4 */
.p-4 {
    padding: 4px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.px-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.py-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* Padding 8 */
.p-8 {
    padding: 8px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.px-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.py-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

/* Padding 12 */
.p-12 {
    padding: 12px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

/* Padding 16 */
.p-16 {
    padding: 16px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.py-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

/* Padding 20 */
.p-20 {
    padding: 20px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

/* Padding 24 */
.p-24 {
    padding: 24px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.py-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

/* Padding 28 */
.p-28 {
    padding: 28px !important;
}

.pt-28 {
    padding-top: 28px !important;
}

.pb-28 {
    padding-bottom: 28px !important;
}

.pl-28 {
    padding-left: 28px !important;
}

.pr-28 {
    padding-right: 28px !important;
}

.px-28 {
    padding-left: 28px !important;
    padding-right: 28px !important;
}

.py-28 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

/* Padding 32 */
.p-32 {
    padding: 32px !important;
}

.pt-32 {
    padding-top: 32px !important;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.pl-32 {
    padding-left: 32px !important;
}

.pr-32 {
    padding-right: 32px !important;
}

.px-32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.py-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

/* Padding 36 */
.p-36 {
    padding: 36px !important;
}

.pt-36 {
    padding-top: 36px !important;
}

.pb-36 {
    padding-bottom: 36px !important;
}

.pl-36 {
    padding-left: 36px !important;
}

.pr-36 {
    padding-right: 36px !important;
}

.px-36 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}

.py-36 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}

/* Padding 40 */
.p-40 {
    padding: 40px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.px-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.py-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

/* Padding 44 */
.p-44 {
    padding: 44px !important;
}

.pt-44 {
    padding-top: 44px !important;
}

.pb-44 {
    padding-bottom: 44px !important;
}

.pl-44 {
    padding-left: 44px !important;
}

.pr-44 {
    padding-right: 44px !important;
}

.px-44 {
    padding-left: 44px !important;
    padding-right: 44px !important;
}

.py-44 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
}

/* Padding 48 */
.p-48 {
    padding: 48px !important;
}

.pt-48 {
    padding-top: 48px !important;
}

.pb-48 {
    padding-bottom: 48px !important;
}

.pl-48 {
    padding-left: 48px !important;
}

.pr-48 {
    padding-right: 48px !important;
}

.px-48 {
    padding-left: 48px !important;
    padding-right: 48px !important;
}

.py-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

/* Padding 52 */
.p-52 {
    padding: 52px !important;
}

.pt-52 {
    padding-top: 52px !important;
}

.pb-52 {
    padding-bottom: 52px !important;
}

.pl-52 {
    padding-left: 52px !important;
}

.pr-52 {
    padding-right: 52px !important;
}

.px-52 {
    padding-left: 52px !important;
    padding-right: 52px !important;
}

.py-52 {
    padding-top: 52px !important;
    padding-bottom: 52px !important;
}

/* Padding 56 */
.p-56 {
    padding: 56px !important;
}

.pt-56 {
    padding-top: 56px !important;
}

.pb-56 {
    padding-bottom: 56px !important;
}

.pl-56 {
    padding-left: 56px !important;
}

.pr-56 {
    padding-right: 56px !important;
}

.px-56 {
    padding-left: 56px !important;
    padding-right: 56px !important;
}

.py-56 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

/* Padding 60 */
.p-60 {
    padding: 60px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.px-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.py-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

/* Padding 64 */
.p-64 {
    padding: 64px !important;
}

.pt-64 {
    padding-top: 64px !important;
}

.pb-64 {
    padding-bottom: 64px !important;
}

.pl-64 {
    padding-left: 64px !important;
}

.pr-64 {
    padding-right: 64px !important;
}

.px-64 {
    padding-left: 64px !important;
    padding-right: 64px !important;
}

.py-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

/* Padding 68 */
.p-68 {
    padding: 68px !important;
}

.pt-68 {
    padding-top: 68px !important;
}

.pb-68 {
    padding-bottom: 68px !important;
}

.pl-68 {
    padding-left: 68px !important;
}

.pr-68 {
    padding-right: 68px !important;
}

.px-68 {
    padding-left: 68px !important;
    padding-right: 68px !important;
}

.py-68 {
    padding-top: 68px !important;
    padding-bottom: 68px !important;
}

/* Padding 72 */
.p-72 {
    padding: 72px !important;
}

.pt-72 {
    padding-top: 72px !important;
}

.pb-72 {
    padding-bottom: 72px !important;
}

.pl-72 {
    padding-left: 72px !important;
}

.pr-72 {
    padding-right: 72px !important;
}

.px-72 {
    padding-left: 72px !important;
    padding-right: 72px !important;
}

.py-72 {
    padding-top: 72px !important;
    padding-bottom: 72px !important;
}

/* Padding 76 */
.p-76 {
    padding: 76px !important;
}

.pt-76 {
    padding-top: 76px !important;
}

.pb-76 {
    padding-bottom: 76px !important;
}

.pl-76 {
    padding-left: 76px !important;
}

.pr-76 {
    padding-right: 76px !important;
}

.px-76 {
    padding-left: 76px !important;
    padding-right: 76px !important;
}

.py-76 {
    padding-top: 76px !important;
    padding-bottom: 76px !important;
}

/* Padding 80 */
.p-80 {
    padding: 80px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.px-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.py-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

/* ========== PADDING-INLINE ========== */
.pi-0 {
    padding-inline: 0 !important;
}

.pi-4 {
    padding-inline: 4px !important;
}

.pi-8 {
    padding-inline: 8px !important;
}

.pi-12 {
    padding-inline: 12px !important;
}

.pi-16 {
    padding-inline: 16px !important;
}

.pi-20 {
    padding-inline: 20px !important;
}

.pi-24 {
    padding-inline: 24px !important;
}

.pi-28 {
    padding-inline: 28px !important;
}

.pi-32 {
    padding-inline: 32px !important;
}

.pi-36 {
    padding-inline: 36px !important;
}

.pi-40 {
    padding-inline: 40px !important;
}

.pi-44 {
    padding-inline: 44px !important;
}

.pi-48 {
    padding-inline: 48px !important;
}

.pi-52 {
    padding-inline: 52px !important;
}

.pi-56 {
    padding-inline: 56px !important;
}

.pi-60 {
    padding-inline: 60px !important;
}

.pi-64 {
    padding-inline: 64px !important;
}

.pi-68 {
    padding-inline: 68px !important;
}

.pi-72 {
    padding-inline: 72px !important;
}

.pi-76 {
    padding-inline: 76px !important;
}

.pi-80 {
    padding-inline: 80px !important;
}

/* ========== MARGIN-INLINE ========== */
.mi-0 {
    margin-inline: 0 !important;
}

.mi-4 {
    margin-inline: 4px !important;
}

.mi-8 {
    margin-inline: 8px !important;
}

.mi-12 {
    margin-inline: 12px !important;
}

.mi-16 {
    margin-inline: 16px !important;
}

.mi-20 {
    margin-inline: 20px !important;
}

.mi-24 {
    margin-inline: 24px !important;
}

.mi-28 {
    margin-inline: 28px !important;
}

.mi-32 {
    margin-inline: 32px !important;
}

.mi-36 {
    margin-inline: 36px !important;
}

.mi-40 {
    margin-inline: 40px !important;
}

.mi-44 {
    margin-inline: 44px !important;
}

.mi-48 {
    margin-inline: 48px !important;
}

.mi-52 {
    margin-inline: 52px !important;
}

.mi-56 {
    margin-inline: 56px !important;
}

.mi-60 {
    margin-inline: 60px !important;
}

.mi-64 {
    margin-inline: 64px !important;
}

.mi-68 {
    margin-inline: 68px !important;
}

.mi-72 {
    margin-inline: 72px !important;
}

.mi-76 {
    margin-inline: 76px !important;
}

.mi-80 {
    margin-inline: 80px !important;
}





/* Margin 0 */
.m-0 {
    margin: 0 !important;
}
.mt-a {
    margin-top: auto !important;
}
.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Margin 4 */
.m-4 {
    margin: 4px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mx-4 {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.my-4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

/* Margin 8 */
.m-8 {
    margin: 8px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mx-8 {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.my-8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

/* Margin 12 */
.m-12 {
    margin: 12px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mx-12 {
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.my-12 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

/* Margin 16 */
.m-16 {
    margin: 16px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mx-16 {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.my-16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

/* Margin 20 */
.m-20 {
    margin: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mx-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

/* Margin 24 */
.m-24 {
    margin: 24px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.ml-24 {
    margin-left: 24px !important;
}

.mr-24 {
    margin-right: 24px !important;
}

.mx-24 {
    margin-left: 24px !important;
    margin-right: 24px !important;
}

.my-24 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

/* Margin 28 */
.m-28 {
    margin: 28px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.ml-28 {
    margin-left: 28px !important;
}

.mr-28 {
    margin-right: 28px !important;
}

.mx-28 {
    margin-left: 28px !important;
    margin-right: 28px !important;
}

.my-28 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}

/* Margin 32 */
.m-32 {
    margin: 32px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.ml-32 {
    margin-left: 32px !important;
}

.mr-32 {
    margin-right: 32px !important;
}

.mx-32 {
    margin-left: 32px !important;
    margin-right: 32px !important;
}

.my-32 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

/* Margin 36 */
.m-36 {
    margin: 36px !important;
}

.mt-36 {
    margin-top: 36px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.ml-36 {
    margin-left: 36px !important;
}

.mr-36 {
    margin-right: 36px !important;
}

.mx-36 {
    margin-left: 36px !important;
    margin-right: 36px !important;
}

.my-36 {
    margin-top: 36px !important;
    margin-bottom: 36px !important;
}

/* Margin 40 */
.m-40 {
    margin: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mx-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

/* Margin 44 */
.m-44 {
    margin: 44px !important;
}

.mt-44 {
    margin-top: 44px !important;
}

.mb-44 {
    margin-bottom: 44px !important;
}

.ml-44 {
    margin-left: 44px !important;
}

.mr-44 {
    margin-right: 44px !important;
}

.mx-44 {
    margin-left: 44px !important;
    margin-right: 44px !important;
}

.my-44 {
    margin-top: 44px !important;
    margin-bottom: 44px !important;
}

/* Margin 48 */
.m-48 {
    margin: 48px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.ml-48 {
    margin-left: 48px !important;
}

.mr-48 {
    margin-right: 48px !important;
}

.mx-48 {
    margin-left: 48px !important;
    margin-right: 48px !important;
}

.my-48 {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

/* Margin 52 */
.m-52 {
    margin: 52px !important;
}

.mt-52 {
    margin-top: 52px !important;
}

.mb-52 {
    margin-bottom: 52px !important;
}

.ml-52 {
    margin-left: 52px !important;
}

.mr-52 {
    margin-right: 52px !important;
}

.mx-52 {
    margin-left: 52px !important;
    margin-right: 52px !important;
}

.my-52 {
    margin-top: 52px !important;
    margin-bottom: 52px !important;
}

/* Margin 56 */
.m-56 {
    margin: 56px !important;
}

.mt-56 {
    margin-top: 56px !important;
}

.mb-56 {
    margin-bottom: 56px !important;
}

.ml-56 {
    margin-left: 56px !important;
}

.mr-56 {
    margin-right: 56px !important;
}

.mx-56 {
    margin-left: 56px !important;
    margin-right: 56px !important;
}

.my-56 {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
}

/* Margin 60 */
.m-60 {
    margin: 60px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mx-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

/* Margin 64 */
.m-64 {
    margin: 64px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.ml-64 {
    margin-left: 64px !important;
}

.mr-64 {
    margin-right: 64px !important;
}

.mx-64 {
    margin-left: 64px !important;
    margin-right: 64px !important;
}

.my-64 {
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}

/* Margin 68 */
.m-68 {
    margin: 68px !important;
}

.mt-68 {
    margin-top: 68px !important;
}

.mb-68 {
    margin-bottom: 68px !important;
}

.ml-68 {
    margin-left: 68px !important;
}

.mr-68 {
    margin-right: 68px !important;
}

.mx-68 {
    margin-left: 68px !important;
    margin-right: 68px !important;
}

.my-68 {
    margin-top: 68px !important;
    margin-bottom: 68px !important;
}

/* Margin 72 */
.m-72 {
    margin: 72px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mb-72 {
    margin-bottom: 72px !important;
}

.ml-72 {
    margin-left: 72px !important;
}

.mr-72 {
    margin-right: 72px !important;
}

.mx-72 {
    margin-left: 72px !important;
    margin-right: 72px !important;
}

.my-72 {
    margin-top: 72px !important;
    margin-bottom: 72px !important;
}

/* Margin 76 */
.m-76 {
    margin: 76px !important;
}

.mt-76 {
    margin-top: 76px !important;
}

.mb-76 {
    margin-bottom: 76px !important;
}

.ml-76 {
    margin-left: 76px !important;
}

.mr-76 {
    margin-right: 76px !important;
}

.mx-76 {
    margin-left: 76px !important;
    margin-right: 76px !important;
}

.my-76 {
    margin-top: 76px !important;
    margin-bottom: 76px !important;
}

/* Margin 80 */
.m-80 {
    margin: 80px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mx-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
}

.my-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}


.mb-a {
    margin-bottom: auto !important;

}

/* ========== GAP ========== */
.gap-0 {
    gap: 0 !important;
}

.gap-2 {
    gap: 2px !important;
}

.gap-4 {
    gap: 4px !important;
}

.gap-6 {
    gap: 6px !important;
}

.gap-8 {
    gap: 8px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-12 {
    gap: 12px !important;
}

.gap-14 {
    gap: 14px !important;
}

.gap-16 {
    gap: 16px !important;
}

.gap-18 {
    gap: 18px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-22 {
    gap: 22px !important;
}

.gap-24 {
    gap: 24px !important;
}

.gap-26 {
    gap: 26px !important;
}

.gap-28 {
    gap: 28px !important;
}

.gap-30 {
    gap: 30px !important;
}

.gap-32 {
    gap: 32px !important;
}

.gap-34 {
    gap: 34px !important;
}

.gap-36 {
    gap: 36px !important;
}

.gap-38 {
    gap: 38px !important;
}

.gap-40 {
    gap: 40px !important;
}

/* ========== COLUMN-GAP ========== */
.gap-x-0 {
    column-gap: 0 !important;
}

.gap-x-2 {
    column-gap: 2px !important;
}

.gap-x-4 {
    column-gap: 4px !important;
}

.gap-x-6 {
    column-gap: 6px !important;
}

.gap-x-8 {
    column-gap: 8px !important;
}

.gap-x-10 {
    column-gap: 10px !important;
}

.gap-x-12 {
    column-gap: 12px !important;
}

.gap-x-14 {
    column-gap: 14px !important;
}

.gap-x-16 {
    column-gap: 16px !important;
}

.gap-x-18 {
    column-gap: 18px !important;
}

.gap-x-20 {
    column-gap: 20px !important;
}

.gap-x-22 {
    column-gap: 22px !important;
}

.gap-x-24 {
    column-gap: 24px !important;
}

.gap-x-26 {
    column-gap: 26px !important;
}

.gap-x-28 {
    column-gap: 28px !important;
}

.gap-x-30 {
    column-gap: 30px !important;
}

.gap-x-32 {
    column-gap: 32px !important;
}

.gap-x-34 {
    column-gap: 34px !important;
}

.gap-x-36 {
    column-gap: 36px !important;
}

.gap-x-38 {
    column-gap: 38px !important;
}

.gap-x-40 {
    column-gap: 40px !important;
}

/* ========== ROW-GAP ========== */
.gap-y-0 {
    row-gap: 0 !important;
}

.gap-y-2 {
    row-gap: 2px !important;
}

.gap-y-4 {
    row-gap: 4px !important;
}

.gap-y-6 {
    row-gap: 6px !important;
}

.gap-y-8 {
    row-gap: 8px !important;
}

.gap-y-10 {
    row-gap: 10px !important;
}

.gap-y-12 {
    row-gap: 12px !important;
}

.gap-y-14 {
    row-gap: 14px !important;
}

.gap-y-16 {
    row-gap: 16px !important;
}

.gap-y-18 {
    row-gap: 18px !important;
}

.gap-y-20 {
    row-gap: 20px !important;
}

.gap-y-22 {
    row-gap: 22px !important;
}

.gap-y-24 {
    row-gap: 24px !important;
}

.gap-y-26 {
    row-gap: 26px !important;
}

.gap-y-28 {
    row-gap: 28px !important;
}

.gap-y-30 {
    row-gap: 30px !important;
}

.gap-y-32 {
    row-gap: 32px !important;
}

.gap-y-34 {
    row-gap: 34px !important;
}

.gap-y-36 {
    row-gap: 36px !important;
}

.gap-y-38 {
    row-gap: 38px !important;
}

.gap-y-40 {
    row-gap: 40px !important;
}